.background1 {
    background-image: url(./image/Mask\ Group\ \(8\).png);
    color: white;
    padding-left: 135px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    margin-left: 20px;
}